.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.skipButton {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    background: none;
    border: none;
    color: var(--color-primary);
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 10;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    opacity: 0.75;
}

.imageSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
}

.imageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
}

.imageContainer img {
    width: 90%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
}

.progressDots {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 1rem 0;
}

.dot {
    width: 1.5rem;
    height: 0.375rem;
    border-radius: 0.25rem;
    background-color: var(--color-primary-lighter);
    transition: all 0.5s;
}

.dot.active {
    background: var(--color-primary);
    width: 3rem;
}

.contentButtons {
    background: var(--gradient-primary);
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 2.75rem;
}

.description {
    font-size: 1.125rem;
    color: #fff;
    margin-bottom: 0;
}

.navigationButtons {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.previousButton {
    flex: 1;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.previousButton:hover {
    background: rgba(255, 255, 255, 0.3);
}

.previousButton:active {
    opacity: 0.8;
}

.nextButton {
    flex: 1;
    padding: 0.5rem;
    background: #fff;
    color: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s;
}

.nextButton:hover {
    opacity: 0.9;
}

.nextButton:active {
    opacity: 0.8;
}
